name: Actionlint
on:
  push:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: actionlint
      uses: raven-actions/actionlint@v2
      with:
        pyflakes: false # we do not use python scripts
